{%- liquid
  assign product = section.settings.product
-%}

{%- style -%}
  .single-product {
    background: linear-gradient(180deg, rgba(251, 244, 220, 1), 
    rgba(248, 251, 223, 1) 60%, 
    rgba(248, 251, 223, 1) 90%, 
    rgba(251, 244, 220, 0.9) 100%);
    padding: 80px 16px;
  }

  .single-product__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }

  .single-product__image img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
    display: block;
  }

  .single-product__details {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .single-product__title h2 {
    color: #222;
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
  }

  .single-product__description p {
    color: #222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
  }

  .single-product__price-main,
  .single-proudct__variant-price {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .single-product__price {
    display: block;
    color: #222;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin: 0;
  }

  .single-product__original-price span {
    display: block;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: line-through;
    margin: 0;
  }

  .single-proudct__variants {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .single-product__variant-item label {
    background-color: #F0F0F0;
    border: 2px solid transparent;
    border-radius: 16px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
  }

  .single-product__variant-item.active label {
    background-color: #BdE2D6B2;
    border: 2px solid #4b4b4b;
  }

  .button-primary {
    width: 100%;
    padding: 20px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 4.6vw;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .button-primary__main {
    background: linear-gradient(90deg, #FF934F 0%, #FF7340 100%);
    border-radius: 14px;
    padding: 2px;
  }

  .button-primary {
    background: linear-gradient(90deg, #FF934F 0%, #FF7340 100%);
    border: none;
    color: #FAF7F3;
  }

  .button-primary__guarantee {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .button-primary__guarantee p {
    color: #253937;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    margin: 0;
  }

  .button-primary__guarantee svg {
    width: 100%;
    max-width: 18px;
    height: 18px;
  }
  @media only screen and (min-width: 372px) {

    .button-primary {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 769px) {

    .button-primary__main {
      border-radius: 18px;
    }

    .button-primary {
      border-radius: 16px;
      padding: 24px 32px;
      font-size: 20px;
      line-height: 14px;
      font-weight: 800;
    }

    .button-primary__guarantee{
      gap: 6px;
    }

    .button-primary__guarantee p{
      font-size: 18px;
    }

    .button-primary__guarantee svg {
      max-width: 20px;
      height: 20px;
    }
  }
{%- endstyle -%}

<div class="single-product single-product__{{ section.id }}">
  <div class="wrapper">
    <div class="single-product__main">
      <div class="single-product__image">
        {{
          product.featured_image
          | image_url: width: 2000
          | image_tag: alt: product.featured_image.alt
          | default: product.title
        }}
      </div>
      <div class="single-product__details">
        <div class="single-product__title">
          <a href="{{ product.url }}">
            <h2>{{ product.title }}</h2>
          </a>
        </div>
        <div class="single-product__description">
          {{ product.description }}
        </div>
        <div class="single-proudct__variants">
          {%- for variant in product.variants -%}
            {% unless variant.title == '5 Packs' %}
              {% if variant.title == '2 Packs' %}
                <variant-item class="single-product__variant-item">
                  <input type="radio" id="pack_{{ variant.id }}" checked name="pack" value="{{ variant.id }}">
                  <label for="pack_{{ variant.id }}">
                    <div class="single-proudct__variant-title">
                      <h3>{{ variant.title }}</h3>
                    </div>
                    <div class="single-proudct__variant-price">
                      {% if variant.compare_at_price > variant.price %}
                        <div class="single-product__price data-bundle-price">
                          <span>{{ variant.price | money }}</span>
                        </div>
                        <div class="single-product__original-price data-bundle-compare-price">
                          <span>{{ variant.compare_at_price | money }}</span>
                        </div>
                      {% else %}
                        <div class="single-product__price data-bundle-price">
                          <span>{{ variant.price | money }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </label>
                </variant-item>
              {% else %}
                <variant-item class="single-product__variant-item">
                  <input type="radio" id="pack_{{ variant.id }}" name="pack" value="{{ variant.id }}">
                  <label for="pack_{{ variant.id }}">
                    <div class="single-proudct__variant-title">
                      <h3>{{ variant.title }}</h3>
                    </div>
                    <div class="single-proudct__variant-price">
                      {% if variant.compare_at_price > variant.price %}
                        <div class="single-product__price data-bundle-price">
                          <span>{{ variant.price | money }}</span>
                        </div>
                        <div class="single-product__original-price data-bundle-price">
                          <span>{{ variant.compare_at_price | money }}</span>
                        </div>
                      {% else %}
                        <div class="single-product__price data-bundle-price">
                          <span>{{ variant.price | money }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </label>
                </variant-item>
              {% endif %}
            {% endunless %}
          {%- endfor -%}
        </div>
        <div class="single-product__price-main">
          <div class="single-product__price data-total-price">
            <span></span>
          </div>
          <div class="single-product__original-price data-total-compare-price">
            <span></span>
          </div>
        </div>
        <div class="single-product__atc button-primary__main">
          <button class="button-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  
  let mainDiv = document.querySelector(".single-product__{{ section.id }}");
  let testVar = 0;
  if (!mainDiv) return;

  let totalPriceEl = mainDiv.querySelector(".data-total-price span");
  let totalCompareEl = mainDiv.querySelector(".data-total-compare-price span");

  let qItems = mainDiv.querySelectorAll(".single-product__variant-item input");
  let activePack = qItems[1].closest(".single-product__variant-item");
  if(activePack){
    activePack.classList.add("active");
    totalPriceEl.innerText = activePack.querySelector(".single-product__original-price span")?.textContent;
  }

  console.log(testVar);

  qItems.forEach((qitem) => {
    qitem.addEventListener("change", function () {

      mainDiv.querySelectorAll(".single-product__variant-item")
        .forEach(item => item.classList.remove("active"));

      let parent = qitem.closest(".single-product__variant-item");
      if (parent) {
        parent.classList.add("active");
      }

      let price = parent.querySelector(".single-product__price span")?.textContent;
      let comparePrice = parent.querySelector(".single-product__original-price span")?.textContent;

      if (price && totalPriceEl) {
        totalPriceEl.textContent = price;
      }

      if (comparePrice && totalCompareEl) {
        totalCompareEl.textContent = comparePrice;
      }

      console.log(price, comparePrice);
    });
  });

});
</script>

{% schema %}
{
  "name": "Practice single product",
  "class": "section-practice-single-product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Practice single product"
    }
  ]
}
{% endschema %}
