{% liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top_mobile = section.settings['padding_top-mobile']
  assign padding_bottom_mobile = section.settings['padding_bottom-mobile']

  assign background = section.settings.background_color
  assign guarantee_icon = section.settings.guarantee_icon
  assign subheading = section.settings.subheading
  assign heading = section.settings.heading
  assign description = section.settings.description
  assign button_text = section.settings.button_text
  assign button_url = section.settings.button_url
  assign guarantee_text = section.settings.guarantee_text
%}

{% style %}
  .trust-gurantee__{{ section.id }} {
    background: {{ background }};
    padding-top: {{ padding_top_mobile }}px;
    padding-bottom: {{ padding_bottom_mobile }}px;
  }

  @media only screen and (min-width: 769px) {

    .trust-gurantee__{{ section.id }} {
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
    }
  }

  .trust-guartantee__main {
    background: linear-gradient(180deg, #79A39E 0%, #49827C 100%);
    border-radius: 32px;
    padding: 32px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  .trust-guartantee__content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .trust-guarantee__icon {
    max-width: 64px;
    width: 100%;
  }

  .trust-guarantee__icon img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: block
  }

  .trust-guarantee__content {
    text-align: center;
  }

  .trust-guarantee__subheading .section-heading__label-text {
    background: #E7F0E4;
    color: #49827C;
    font-size: 20px;
  }

  .trust-guarantee__heading h2,
  .trust-guarantee__heading strong,
  .trust-guarantee__description p {
    color: #FAF7F3;
  }

  .trust-guarantee__description p {
    font-size: 18px;
    line-height: 27px;
  }

  @media only screen and (min-width: 769px) {

    .trust-guartantee__main {
      background: linear-gradient(90deg, #79A39E 0%, #49827C 100%);
      padding: 32px;
    }

    .trust-guarantee__icon {
      max-width: 72px;
    }
  }

  @media only screen and (min-width: 991px) {

    .trust-guartantee__main {
      flex-direction: row;
    }

    .trust-guartantee__content-wrapper {
      max-width: 50%;
      flex-direction: row;
    }

    .trust-guarantee__content {
      text-align: left;
    }
  }

  @media only screen and (min-width: 1281px) {

    .trust-guartantee__main {
      border-radius: 48px;
      padding: 48px;
      gap: 48px;
    }
  }

  @media only screen and (max-width: 416px) {

    .trust-guartantee__button-main {
      width: 100%;
    }

    .trust-guartantee__button .button-white-color {
      padding: 18px 16px;
      font-size: 4.087vw;
    }
  }
{% endstyle %}

{% capture arrow_icon %}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M7.5 4.1665L12.5 9.99984L7.5 15.8332" stroke="#49827C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endcapture %}

{% capture check_icon %}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.833496C4.93743 0.833496 0.833374 4.93755 0.833374 10.0002C0.833374 15.0628 4.93743 19.1668 10 19.1668C15.0626 19.1668 19.1667 15.0628 19.1667 10.0002C19.1667 4.93755 15.0626 0.833496 10 0.833496ZM14.3393 8.08942C14.6647 7.76398 14.6647 7.23634 14.3393 6.91091C14.0139 6.58547 13.4862 6.58547 13.1608 6.91091L8.75004 11.3217L6.8393 9.41091C6.51386 9.08547 5.98622 9.08547 5.66078 9.41091C5.33535 9.73634 5.33535 10.264 5.66078 10.5894L8.16078 13.0894C8.48622 13.4149 9.01386 13.4149 9.3393 13.0894L14.3393 8.08942Z" fill="#FAF7F3"/>
  </svg>
{% endcapture %}

<div class="trust-guarantee trust-gurantee__{{ section.id }}">
  <div class="wrapper">
    <div class="trust-guartantee__main">
      <div class="trust-guartantee__content-wrapper">
        {% if guarantee_icon != blank %}
          <div class="trust-guarantee__icon">
            {{ guarantee_icon | image_url: width: 150 | image_tag: alt: guarantee_icon.alt }}
          </div>
        {% endif %}
        {% if subheading != blank or heading != blank or description != blank %}
          <div class="trust-guarantee__content">
            {% if subheading != blank %}
              <div class="trust-guarantee__subheading section-heading__label">
                <span class="section-heading__label-text">{{ subheading }}</span>
              </div>
            {% endif %}
            {% if heading != blank %}
              <div class="trust-guarantee__heading section-heading__title">
                {{ heading }}
              </div>
            {% endif %}
            {% if description != blank %}
              <div class="trust-guarantee__description section-heading__description">
                {{ description }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if button_text != blank or guarantee_text != blank %}
        <div class="trust-guartantee__button-main">
          {% if button_text != blank %}
          <div class="trust-guartantee__button">
            <a href="{{ button_url }}" class="button-white-color">
              <span class="trust-guartantee__button-text">{{ button_text }}</span>
              <div class="trust-guartantee__button-icon button-white__arrow-icon">{{ arrow_icon }}</div>
            </a>
          </div>
          {% endif %}
          {% if guarantee_text != blank %}
            <div class="trust-guartantee__guarantee button-white__guarantee">
              <div class="trust-guartantee__guarantee-icon">{{ check_icon }}</div>
              <div class="trust-guartantee__guarantee-text">
                <p>{{ guarantee_text }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Trust Guarantee",
  "class": "section-trust-guarantee",
  "tag": "section",
  "settings": [
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#E7F0E4"
    },
    {
      "type": "image_picker",
      "id": "guarantee_icon",
      "label": "Guarantee icon"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Try it for 30 days"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>You Will Love It. <strong>Guaranteed.</strong></h2>"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "TRY SEA MOSS Gummies Today"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "text",
      "id": "guarantee_text",
      "label": "Guarantee text",
      "default": "30-Day Money Back Guarantee"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_top-mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom-mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "Trust Guarantee"
    }
  ]
}
{% endschema %}
